@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2><hr />
<h3>@ViewBag.Message</h3>

<address>
    Borat Vally<br />
    Link road, Dhaka-1733<br />
    <abbr title="Phone">P:</abbr>
    +8802965863
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@mjs.com">Support@mjs.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@mjs.com">Marketing@mjs.com</a>
</address>